html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

#page-layout {
  position: relative;
  width: 100vw;
  background-color: beige;
  padding-top: 40px;
}

#copyright-group {
  position: relative;
  background-color: gold;
}